.widget {
    display: block;
    float: left;
    width: 100%;
}

.widget-wrapper {
    float: left;
    padding: 10px;
}

.date-select {
    /*width: 70px;*/
}

h2 {
    margin-top: 10px;
    float: left;
}

.clear {
    clear: both;
}

#Header {
    background-color: #CC0066;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#CC0066),to(#D65C94));
    background-image: -webkit-linear-gradient(#CC0066, #D65C94);
    background-image: -moz-linear-gradient(#CC0066,#D65C94);
    background-image: -o-linear-gradient(top,#CC0066,#D65C94);
    background-image: -khtml-gradient(linear,left top,left bottom,from(#CC0066),to(#D65C94));
    margin: 40px 0 0;
}

#Header .title {
    font-size: 60px;
}

#Header .inner {
    padding: 54px 0;
}

input:focus, textarea:focus {
    border-color: rgba(204, 0, 102, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 0, 102, 0.6);
    outline: 0 none;
}

.datepicker td.active, .datepicker td.active:hover, .datepicker td.active.disabled, .datepicker td.active.disabled:hover {
    background-color: #CC0066;
    background-image: -moz-linear-gradient(center top , #CC0066, #D65C94);
    background-image: -moz-linear-gradient(top,#CC0066,#D65C94);
    background-image: -ms-linear-gradient(top,#CC0066,#D65C94);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#CC0066),to(#D65C94));
    background-image: -webkit-linear-gradient(top,#CC0066,#D65C94);
    background-image: -o-linear-gradient(top,#CC0066,#D65C94);
    background-image: linear-gradient(top,#CC0066,#D65C94);
}

.datepicker td span.active, .datepicker td span.active:hover, .datepicker td span.active.disabled, .datepicker td span.active.disabled:hover {
    background-color: #CC0066;
    background-image: -moz-linear-gradient(top,#CC0066,#D65C94);
    background-image: -ms-linear-gradient(top,#CC0066,#D65C94);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#CC0066),to(#D65C94));
    background-image: -webkit-linear-gradient(top,#CC0066,#D65C94);
    background-image: -o-linear-gradient(top,#CC0066,#D65C94);
    background-image: linear-gradient(top,#CC0066,#D65C94);
}

.navbar-fixed-top {
    position: absolute;
}

.span12, .container {
    width: 940px !important;
}

.wrapper-title {
    float: left;
    width: 770px;
    margin: 10px 0 0 20px;
}

.logo {
    float: left;
}

#intro {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}

.nav-header-text {
    margin: 8px 0 0 35px;
    width: 400px;
}

.p1 {
    font-size: 18px;
}

.uploader {
    float:left;
}

.spinner {
    float:left;
    margin: 11px 0 0 10px;
}